<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grupos</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <table id="allGroups" class="table-view">
                <body>
                    <tr class="row" data-th-each="groupResponse : ${groupsList}">
                        <td>[[${groupResponse.group.name}]] <span><a th:href="@{|/groups/${groupResponse.group.id}|}">([[${groupResponse.group.participants.size()}]])</a> </span> </td>
                    </tr>
                </body>
            </table>
            <form action="#" th:action="@{/groups}" th:object="${group}" method="post">
                <p>Group Name: <input type="text" th:field="*{name}" /></p>
                <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
            </form>
        </div>
    </div>
</body>
</html>